.full-H-cardEnveloping {
	width: 262px;
	height: 368px;
}

.full-H-cardEnveloping .animeCard {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 262px;
	height: 368px;
	border-radius: $borderRadius_allCorners;
	@include imgBG($imgPath, "drStone.jpg");
	overflow: hidden;
	z-index: 1;

	&__timeline {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		min-height: 6px;
		width: 100%;
		background: $grey70;
	}

	&__timelineTrack {
		height: 100%;
		width: 30%;
		background: $orangeGradient;
	}
}

.full-H-cardEnveloping .animeCardHover {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 262px;
	height: 368px;
	margin-top: -368px;
	border-radius: $borderRadius_allCorners;
	@include imgBG($imgPath, "drStone.jpg");
	z-index: 2;
	opacity: 0;
	transition: opacity $fadeInOpacity ease-in;

	&__blackGradient {
		height: 308px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-radius: $borderRadius_topCorners;
		background: $blackVerticalGradient;
	}

	&__animeTitle {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 15px 10px 10px 10px;
		@include typography-styles-headline5 ($whiteFontColor);
	}

	&__bottomInfo {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	&__animeInfo {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		padding: 0px 10px 10px 10px;
	}

	&__topInfo {
		width: 100%;
		padding: 0 0 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__synopsisTitle {
		display: flex;
		flex-direction: row;
		align-items: center;
		@include typography-styles-subtitle2($whiteFontColor);
	}

	&__extraInfo {
		width: 148px;
		max-width: 148px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__subtitleInfo {
		@include typography-styles-subtitle1($orangeFontColor);
	}

	&__mediaType {
		@include typography-styles-subtitle1($greenFontColor);
	}

	&__synopsisText {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		@include typography-styles-body2 ($whiteFontColor);
	}

	&__timeline {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		min-height: 6px;
		width: 100%;
		background: $grey70;
	}

	&__timelineTrack {
		height: 100%;
		width: 30%;
		background: $orangeGradient;
	}

	&__playButton {
		min-height: 60px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: $borderRadius_bottomCorners;

		&--Green {
			background: $greenGradient;
			z-index: 3;
		}

		&--Orange {
			margin-top: -60px;
			background: $orangeGradient;
			box-shadow: $orangeNeon;
			z-index: 4;
			opacity: 0;
			transition: opacity $fadeInOpacity ease-in;

			&:hover {
				opacity: 1;
			}
		}
	}

	&:hover {
		opacity: 1;
	}
}
